@(productForm: Form[Product])(implicit flash: Flash, messages: Messages, cart: Cart)

@import helper._

@main(Messages("products.form")) {
    <h2>@Messages("products.form")</h2>
    @form(action = routes.ProductsController.save()) {
        <fieldset>
            <legend>
            @Messages("products.details", Messages("products.new"))
            </legend>
            @inputText(productForm("id"))
            @inputText(productForm("ean"))
            @inputText(productForm("name"))
            @textarea(productForm("descr"))
            @* 同时验证多个字段返回的globalError错误信息 *@
            @productForm.globalError.map { error =>
                <span class="error">@error.message</span>
            }
        </fieldset>
        <p><input type="submit" class="btn primary"
        value='@Messages("products.new.submit")'></p>
    }
}