@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit flash: Flash, messages: Messages, cart: Cart)

<!DOCTYPE html>
<html >
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    </head>
    <body>
        <div class="screenshot" >

            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="@routes.HomeController.index()">
                        @Messages("application.name")
                        </a>
                    </div>
                </div>
            </div>
            @navigation()
            <div id="cartSummary">
                <p>
                @defining(cart.productCount) { count => @count match {
                        case 0 => { Your shopping cart is empty }
                        case n => { You have @n items in your shopping cart.}
                    }
                }
                </p>
            </div>
            <div class="container">
                @if(flash.get("success").isDefined){
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }
                @if(flash.get("error").isDefined) {
                    <div class="alert alert-error">
                    @flash.get("error")
                    </div>
                }
                @content
            </div>
        </div>
    </body>
</html>
